{
	log {
		format json
		output stderr
	}
}

:80 {
	log

	# compress stuff
	encode zstd gzip

	# static files are in /static
	root * /app/static

	@exists file
	handle @exists {
		file_server
	}

	# pass everything else to backend
	handle {
		reverse_proxy talapoin:8000
	}
}
